.ham{
  width: 24px;
  height: 24px;
  display:none;
  padding-left:40px;
  padding-top:20px;
  cursor: pointer; 
}

.menu{
  display:flex;
  width: 319px;
  justify-content:space-around;
  li{
    font-size:16px;
    line-height:73px;
    font-weight:bold;
  }
  a{
    padding:10px;
    color:#3F5D45;
    border-radius: 5px;
    :hover{
      background-color:#EAF0ED;
  }
  }
}

.cart{
  padding-top:25px;
  margin-right:42px;
  a:hover{
    background-color:white;
  }
}

.banner img{
  display:block;
  padding-left:42px;
  padding-right:42px;
  margin:0 auto;
}

.logo{
  width: 219.5px;
  margin-top:20px;
  margin-bottom:20px;
}

.header{
  display:flex;
  justify-content:space-between;
}