  .payment{
    
  }

  .payment_banner{
    width: 940px;
    height: 460px;
    margin-bottom:100px;
  }

  .check{
        height: 500px;
        display:flex;
        flex-direction:column;
        align-items: stretch;
        justify-content: center;
    button{
        cursor: pointer; 
        color:#3F5D45;
        background-color:#FFE180;
        border:none;
        font-size:24px;
        line-height:20px;
        width: 300px;
        height: 65px;
      }
      .right {
        width: 400px;
    }
    .left {
      border-bottom: 1px solid #3F5D45;
      width: 400px;
  }
  }
  .material-icons.md-48 { 
    color:#3F5D45;
  }