.type{
  font-size:24px;
  width:33%;
  margin-right:20px;
  margin-top:30px;
  li{
    border:1px solid #EAF0ED;
    padding-top:16px;
    padding-bottom:16px;
  }
  a{
    color:#3F5D45;
    padding-right:60px;
    padding-left:60px;
    padding-top:16px;
    padding-bottom:16px;
    :hover{
      background-color:#EAF0ED;
    }
  }
}

.type_head{
  color:white;
  width: 128px;
  padding-right:64px;
  padding-left:64px;
  background-color:#3F5D45;
}

.inner{
  margin-top:40px;
  display:flex;
  justify-content:space-between;
}

.product_name{
  border-left:1px solid #EAF0ED;
  border-right:1px solid #EAF0ED;
  max-width: 300px;
  height: 50px;
  display:flex;
  align-items: center;
  justify-content:space-around;
  color:#3F5D45;
  font-size:20px;
}

.price{
    text-align: center;
    padding-top:15px;
    height: 35px;
    border-left:1px solid #EAF0ED;
    padding-left:30px;
}

.add_cart{
    display: block;
    background-color: #EAF0ED;
    color: #3F5D45;
    font-size: 24px;
    line-height: 33px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    :hover{
      background-color:#3F5D45;
      color:white;
    }
}

.product_list{
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
}

.product{
  max-width:300px;
  margin-right:20px;
  margin-top:30px;
  position:relative;
  h4{
    line-height:20px;
    margin-left:10px;
     margin-right:10px;
    margin-top:10.08px;
     margin-bottom:9.24px;
    color:white;
    font-size:16px;
  }
}

.today{
  width: 36px;  
  background-color:#3F5D45;
  position:absolute;
  left:20px;
  top:0;
}

.like{
  position:absolute;
  right:22px;
  top:19px;
}

.page{
  display:flex;
  justify-content:flex-end;
  margin-top:80px;
  margin-bottom:50px;
}

.arrow a{
   padding-top:16px;
   padding-bottom:16px;
   padding-right:26px;
   padding-left:26px;
}

.num a{
   border:1px solid #EAF0ED;
   padding-top:16px;
   padding-bottom:16px;
   padding-right:26px;
   padding-left:26px;
  color:#3F5D45;
  :hover{
    background-color:#3F5D45;
    color:white;
  }
}